<app-modal [modalName]="'modal-error'" [modalType]="'bg-danger'" [modalTitle]="'Error.'">
  <ul>
    <li *ngFor="let item of getErrors()">{{item.boxText}}</li>
  </ul>
</app-modal>

<app-modal [modalName]="'modal-search'" [modalSize]="'4'" [modalType]="''" [modalTitle]="'Search'">

</app-modal>

<section class="content-wrap" style="margin-left: 5px; margin-right: 10px; margin-top: 2px;  margin-bottom: 2px;">
  <div class="col-sm-12" [style]="'height: ' + (getHeight() - 194) + 'px;'">
    <div class="card card-primary card-tabs" style="height: 100%;">
      <div class="card-header p-0 pt-1" style="background-color: #3c8dbc;">
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
          <li *ngIf="!formVisible()" class="pt-2 px-3"><h3 class="card-title">{{translate.getString('tab-title')}}</h3></li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link active" id="person-info-tab" data-toggle="pill" href="#person-info" role="tab" aria-controls="person-info" aria-selected="true">{{translate.getString('person-info-tab')}}</a>
          </li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link" id="person-access-tab" data-toggle="pill" href="#person-access" role="tab" aria-controls="person-access" aria-selected="false">{{translate.getString('person-access-tab')}}</a>
          </li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link" id="person-contact-tab" data-toggle="pill" href="#person-contact" role="tab" aria-controls="person-contact" aria-selected="false">{{translate.getString('person-contact-tab')}}</a>
          </li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link" id="person-address-tab" data-toggle="pill" href="#person-address" role="tab" aria-controls="person-address" aria-selected="false">{{translate.getString('person-address-tab')}}</a>
          </li>
          <li class="nav-item" *ngIf="formVisible()">
            <a class="nav-link" id="person-document-tab" data-toggle="pill" href="#person-document" role="tab" aria-controls="person-document" aria-selected="false">{{translate.getString('person-document-tab')}}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-two-tabContent">
          <div *ngIf="!formVisible()" class="tab-pane fade show active" id="person" role="tabpanel" aria-labelledby="person-tab">
            <app-person-view [service]="service"></app-person-view>
          </div>
          <div *ngIf="formVisible()" class="tab-pane fade show active" id="person-info" role="tabpanel" aria-labelledby="person-info-tab" >
            <app-person-info [service]="service"></app-person-info>
          </div>
          <div *ngIf="formVisible()" class="tab-pane fade" id="person-access" role="tabpanel" aria-labelledby="person-access">
            <app-user-info [service]="service"></app-user-info>
         </div>
         <div *ngIf="formVisible()" class="tab-pane fade" id="person-contact" role="tabpanel" aria-labelledby="person-contact-tab">
            <app-contact-list [service]="service"></app-contact-list>
         </div>
         <div *ngIf="formVisible()" class="tab-pane fade" id="person-address" role="tabpanel" aria-labelledby="person-address-tab">
          <app-address-list [service]="service"></app-address-list>
         </div>
         <div *ngIf="formVisible()" class="tab-pane fade" id="person-document" role="tabpanel" aria-labelledby="person-document-tab">
          <app-document-list [service]="service"></app-document-list>
         </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
  <app-button-pannel [service]="service"></app-button-pannel>
</section>
