<app-modal [modalName]="'modal-error'" [modalType]="'bg-danger'" [modalTitle]="'Create account.'">
  <ul>
    <li *ngFor="let item of getErrors()">{{item.boxText}}</li>
  </ul>
</app-modal>

<section style="margin-left: 5px; margin-right: 10px; margin-top: 2px;  margin-bottom: 2px;">
  <form role="form" [formGroup]="formGroupRules">
    <app-box
      [boxTitle]="translate.getString('header-person-info')"
      [useMinimize]="true">
      <app-person-info [service]="service"></app-person-info>
    </app-box>
    <app-box
      [boxTitle]="translate.getString('header-user-info')"
      [useMinimize]="true">
      <app-user-info [service]="service"></app-user-info>
    </app-box>
    <div class="row justify-content-end">
      <div class="float-right" style="margin-right: 10px;">
        <button class="btn btn-primary" style="width: 120px;"
          (click)="submit($event)" [disabled]="!isValid()">{{translate.getString('save')}}</button>
      </div>
    </div>
  </form>
</section>
