
<app-modal [modalName]="'modal-error'" [modalType]="'modal-danger'" [modalTitle]="'Password recovery.'">
  <ul>
    <li *ngFor="let item of getErrors()">{{item.boxText}}</li>
  </ul>
</app-modal>

<app-modal [modalName]="'modal-info'" [modalType]="'modal-success'" [modalTitle]="'Password recovery.'">
  <ul>
    <li *ngFor="let item of getMessages()">{{item.boxText}}</li>
  </ul>
</app-modal>

<section styles="border=1px">
  <div class = "row">&nbsp;</div>
  <div class = "row">&nbsp;</div>
  <div class = "row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <app-box [boxTitle]="'Password recovery'">
        <form role="form" [formGroup]="formGroupRules">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
            <app-input
              [caption]="'E-mail'"
              [name]="'email'"
              [required]="true"
              [errorMessage]="'Please tip your e-mail.'">
              <input type="text" class="form-control" placeholder="User e-mail..." formControlName="email" autocomplete="off">
            </app-input>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <button class="btn btn-primary" style="width: 100%;" (click)="onSubmit($event)">Enter</button>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </form>
      </app-box>
    </div>
    <div class="col-sm-4"></div>
  </div>
</section>
