<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="#" class="brand-link"  style="background-color: #3c8dbc; ">
    <span class="brand-image img-circle elevation-4 fas fa-euro-sign" style="font-size: 31px;"></span>
    <span class="brand-text font-weight-light">-stock</span>
  </a>


  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item has-treeview" *ngFor="let rootItem of rootMenu" >
        <a href="#" class="nav-link">
          <i class="{{rootItem.classImage}}"></i>
          <p>
            &nbsp;&nbsp;{{translate.getString(rootItem.actionRouter)}}
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right"></span>
          </p>
        </a>
        <ul class="nav nav-treeview" style="margin-left: 5px;">
          <li class="nav-item has-treeview" *ngFor="let itemMenu of rootItem.menuItems" >
            <a href="#" class="nav-link">
              <i class="{{itemMenu.classImage}}"></i>
              <p>
                &nbsp;&nbsp;{{translate.getString(itemMenu.actionRouter)}}
                <i class="fa fa-angle-left pull-right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview" style="margin-left: 5px;">
                <li class="nav-item" *ngFor="let item of itemMenu.menuItems" >
                  <a routerLinkActive="active" [routerLink]='[item.actionRouter]' class="nav-link">
                    <i class="{{item.classImage}}"></i>
                    <p>
                      {{translate.getString(item.actionRouter)}}
                    </p>
                  </a>
                </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
