<div class="form-group" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()"
                        [style]="style">
  <label>
      <span>
        <i class="fa fa-check" *ngIf="hasSuccess()"> {{caption}}<span *ngIf="required"> *</span> </i>
        <i class="fa fa-remove" *ngIf="hasError()"> {{caption}}<span *ngIf="required"> *</span> </i>
        <i class="fa" *ngIf="!hasSuccess() && !hasError()"> {{caption}}<span *ngIf="required"> *</span> </i>
      </span>
  </label>
  <ng-content></ng-content>
</div>
