<div [class]="GetBoxClass()">
  <div class="card-header">
    <h3 class="card-title">{{boxTitle}}</h3>

    <div class="card-tools pull-right">
      <button *ngIf="useMinimize"  type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"><i class="fa fa-minus"></i></button>
    </div>
    <div class="card-tools pull-right" *ngIf="topLabel" >
        <label class="label label-primary"><b>Type: </b>{{topLabel}}</label>
    </div>
  </div>
  <div class="card-body" style="display: block;">
      <div class="">
          <ng-content name="boxBody"></ng-content>
      </div>
  </div>
  <div class="card-footer">

  </div>
</div>
