<div class="form-group" [class.has-success]="hasSuccess()"
                        [class.has-error]="hasError()">
  <label>
      <span>
        <i class="fa fa-check" *ngIf="hasSuccess()"> {{caption}}<span *ngIf="required"> *</span></i>
        <i class="fa fa-remove" *ngIf="hasError()"> {{caption}}<span *ngIf="required"> *</span></i>
        <i class="fa" *ngIf="!hasSuccess() && !hasError()"> {{caption}}<span *ngIf="required"> *</span></i>
      </span>
  </label>
  <div class="input-group date" id="" data-target-input="nearest">
    <ng-content></ng-content>
    <div class="input-group-append" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
</div>
