<form role="form" [formGroup]="formGroupRules">
  <div class="row">
    <div class="col-sm-3">
      <app-input
            [caption]="translate.getString('user-name')"
            [name]="'userName'"
            [required]="true">
            <input type="text"
              class="form-control"
              placeholder="{{translate.getString('user-name-message')}}"
              formControlName="userName" autocomplete="off"
              [value]="service.entity.userInfo.userName"
              (change)="savePerson(formGroupRules.value)">
      </app-input>
    </div>
    <div class="col-sm-3">
      <app-input
            [caption]="translate.getString('e-mail')"
            [name]="'userEmail'"
            [required]="true">
            <input type="text"
              class="form-control"
              placeholder="{{translate.getString('e-mail-message')}}"
              formControlName="userEmail"
              autocomplete="off"
              [value]="service.entity.userInfo.userEmail"
              (change)="savePerson(formGroupRules.value)">
      </app-input>
    </div>
    <div class="col-sm-3">
      <app-input
            [caption]="translate.getString('password')"
            [name]="'userPassword'"
            [required]="true">
            <input type="password"
              class="form-control"
              placeholder="{{translate.getString('password-message')}}"
              formControlName="userPassword"
              autocomplete="off" (change)="savePerson(formGroupRules.value)">
      </app-input>
    </div>
    <div class="col-sm-3">
      <app-input
            [caption]="translate.getString('repeat-password')"
            [name]="'userPasswordAux'"
            [required]="true">
            <input type="password"
              class="form-control"
              placeholder="{{translate.getString('repeat-password-message')}}"
              formControlName="userPasswordAux"
              autocomplete="off"
              (change)="savePerson(formGroupRules.value)">
      </app-input>
    </div>
  </div>
</form>
