<div class="toast fade show">
  <div class="toast-header">
    <strong class="mr-auto">&nbsp;</strong>
    <small><b>Type: </b>{{getContactName(item.contactType)}}</small>
  </div>
  <div class="toast-body">
    <p><b>Value: </b>{{item.value}}</p>
  </div>
  <div class="toast-footer">
    <div class="row justify-content-end">
      <div class="float-right" style="margin-right: 3px;">
        <button type="button" class="btn btn-box-tool" (click)="change(item.id)"><i class="far fa-edit"></i></button>
        <button type="button" class="btn btn-box-tool" (click)="remove(item.id)"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
